.text_title {
    font-size: 22px;
    float: left;
    padding-right: 50%;
}

.button_padding {
    margin-left: 10px;
    float: left;
}

.main{
    margin-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
}

.inline_block {
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
}

.inline_element{
    float: left;
    padding-right: 10%;
    width: 250px;
}