.text_title {
    font-size: 22px;
    float: left;
}

.inline_element{
    float: left;
    padding-left: 10%;
    width: 120px;
    white-space: pre-line;
    text-align: center;
}

.title_block{
    width: 70%;
    float: left;
}

.text_author{
    font-size: 16px;
    font-style: italic;
    float:left;
}

.text_description {
    width: 100%;
    font-size: 16px;
    font-style: italic;
    float:left;
    min-height: 200px;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-bottom: 7px;
}

.button_padding {
    margin-left: 10px;
    float: right;
}

.main_fon{
    margin-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.inline_block_elements {
    background-color: #F5F5F5;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
}

.inline_block_users{
    float: left;
    padding-right: 10%;
    width: 200px;
}

.inline_block_users_title {
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
}

.inline_block {
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
}

.inline_block_top {
    margin-top: 10px;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
}